@use '../style/commonStyle';

.download-main {
    padding: 40px;
}

.download-page {
	max-width: 1000px;
	margin: 0 auto;
	background-color: #ffffff;
	border-radius: 12px;

	.download-block {
		height: 80px;
		padding: 50px 0px;
		margin: 0px 50px;
		border-bottom: 1px solid #999;
		text-align: center;

		.download-btn {
			color: #4da6ff;
		}
	}

	.code-preview-desc {
		text-align: right;
		padding: 0 12px;

		p {
			font-family: commonStyle.$main_font;
			font-size: 18px;
		}
	}

	.code-preview-list {
		padding: 0px 10px;

		.code-image-cell {
			width: 12%;
			min-width: 100px;
		}

		.code-image-cell canvas {
			width: 100% !important;
			height: 100% !important;
		}
	}
}