body{
    margin: 0px !important;
}

.root-background{
    background-color: #4da6ff;
    padding: 28px;
    min-height: 100vh;
}

.top-menu{
    Button{
        padding: 0% 3vw;
        color: #fff;
    }
}

.main-page{
    max-width: 1200px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 12px;
}

.preview-left-block, .preview-right-block{
    display: inline-block;
    padding-top: 10px;
}

.preview-left-block{
    display: inline-block;
    vertical-align: top;
    width: 55%;
    padding: 10px 20px;
}

.preview-right-block{
    display: inline-block;
    width: 25%;
    padding: 10% 5%;

    .preview-block canvas{
        width: 100% !important;
        height: 100% !important;
    }
}

.material-picker{
    display: block;
}

.background-color-block{
    display: inline-block;
    margin: 6px;
}

.background-color-text{
    color: #000;
}

.download-page{
    max-width: 1000px;
    margin: 0 auto;
    background-color: #ffffff;
    border-radius: 12px;

    .download-block{
        height: 200px;
        padding: 50px;
        border-bottom: 2px;
        text-align: center;

        .download-btn{
            color: #4da6ff;
        }
    }

    .code-image-cell{
        width: 12%;
    }

    .code-image-cell canvas{
        width: 100% !important;
        height: 100% !important;
    }
}